/* Color Theme Swatches in Hex */
$color-blue-medium: #0B7ABF
$color-cyan-dark: #2C96BF
$color-cyan-light: #80D2F2
$color-cyan-darkest: #4494A6
$color-white: #F2F2F2
$color-grey: #666

/* Color Theme Swatches in RGBA */
$color-blue-medium-l: rgba(11, 122, 191, .2)
$color-cyan-dark-l: rgba(43, 149, 191, .5)
$color-cyan-light-l: rgba(128, 209, 242, .5)
$color-cyan-darkest-l: rgba(67, 147, 165, .5)
$color-white-l: rgba(242, 242, 242, .5)
$color-grey-l: rgba(102, 102, 102, .3)


/* Color Theme Swatches in HSLA */
$color-blue-medium: hsla(202, 88, 39, 1)
$color-cyan-dark: hsla(196, 62, 46, 1)
$color-cyan-light: hsla(196, 81, 72, 1)
$color-cyan-darkest: hsla(191, 41, 45, 1)
$color-white: hsla(0, 0, 95, 1)
