/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
.input-control .input-transparent {
  background: transparent;
  border: none;
  color: #4491a2;
  font-size: 1em;
}
.input-control .input-transparent:focus {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #2d97be;
  transition: all ease 0.2s;
}
.input-control label {
  color: #0c7bbb;
  font-size: 1em;
}
.input-control label i {
  margin-right: 0.5em;
}

/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
.button-blue {
  background-color: #0c7bbb;
  color: #f2f2f2;
}
.button-blue:hover, .button-blue:focus {
  background-color: transparent;
  border: 1px solid #0c7bbb;
  color: #0c7bbb;
}

.button-cyan-dark {
  background-color: #2d97be;
  color: #f2f2f2;
}
.button-cyan-dark:hover, .button-cyan-dark:focus {
  background-color: transparent;
  border: 1px solid #2d97be;
  color: #2d97be;
}

.button-white {
  background-color: #f2f2f2;
  color: #4491a2;
}
.button-white:hover, .button-white:focus {
  background-color: transparent;
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
}

body {
  background-color: #f2f2f2;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p, body a, body span, body label, body input, body input::placeholder, body button {
  font-family: "Crimson Text" !important;
}

header nav {
  background-color: #f2f2f2;
  padding: 0 1em;
}
header nav .uk-navbar-right li a {
  color: #4491a2;
  font-size: 1em;
}
header nav .uk-navbar-right li:hover, header nav .uk-navbar-right li:focus {
  transition: all ease 0.2s;
}
header nav .uk-navbar-right li:not(.action-button):hover, header nav .uk-navbar-right li:not(.action-button):focus {
  background-color: #4491a2;
}
header nav .uk-navbar-right li:not(.action-button):hover a, header nav .uk-navbar-right li:not(.action-button):focus a {
  color: #f2f2f2;
}
header nav .uk-navbar-right li.action-button {
  background-color: #2d97be;
}
header nav .uk-navbar-right li.action-button a {
  color: #f2f2f2;
}
header nav .uk-navbar-right li.action-button i {
  margin-right: 0.5em;
}
header nav .uk-navbar-right li.action-button:hover, header nav .uk-navbar-right li.action-button:focus {
  background-color: #4491a2;
}
header nav .uk-navbar-right li.action-button:hover a, header nav .uk-navbar-right li.action-button:focus a {
  text-decoration: none;
}
header nav .uk-navbar-right .uk-hidden\@m {
  color: #4491a2;
}
header nav .uk-nav-header {
  color: #4491a2;
  font-size: 1.5em;
}
header nav .uk-nav-header:hover, header nav .uk-nav-header:focus {
  color: #2d97be;
}
header .side-nav .uk-offcanvas-bar {
  background: #4491a2;
  padding: 0;
}
header .side-nav .uk-offcanvas-bar .uk-offcanvas-close {
  color: #f2f2f2;
}
header .side-nav .uk-offcanvas-bar .uk-nav li {
  padding: 0.35em 2em;
}
header .side-nav .uk-offcanvas-bar .uk-nav li a {
  color: #f2f2f2;
  font-size: 1.3em;
  text-transform: capitalize;
}
header .side-nav .uk-offcanvas-bar .uk-nav li .uk-nav-header {
  padding-bottom: 0.5em;
  margin-top: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
}
header .side-nav .uk-offcanvas-bar .uk-nav li.action-button i {
  margin-right: 0.3em;
}
header .side-nav .uk-offcanvas-bar .uk-nav li:not(.nav-header):hover, header .side-nav .uk-offcanvas-bar .uk-nav li:not(.nav-header):focus {
  background-color: #f2f2f2;
  transition: all ease 0.2s;
}
header .side-nav .uk-offcanvas-bar .uk-nav li:not(.nav-header):hover a, header .side-nav .uk-offcanvas-bar .uk-nav li:not(.nav-header):focus a {
  color: #4491a2;
  text-decoration: none;
}
header .side-nav .uk-offcanvas-bar .uk-nav hr {
  background-color: #7ed3f1;
  width: 80%;
  height: 1.5px;
  margin-left: auto;
  margin-right: auto;
}

main .main-wrapper .hero-section {
  margin-top: 0;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
  height: 600px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .main-wrapper .hero-section .hero-text {
  width: 100%;
}
main .main-wrapper .hero-section .hero-text h1, main .main-wrapper .hero-section .hero-text p {
  color: #f2f2f2;
}
main .main-wrapper .hero-section .hero-text .stats-section, main .main-wrapper .hero-section .hero-text .search-section {
  margin-top: 3em;
}
main .main-wrapper .hero-section .hero-text .stats-section {
  padding-top: 0.2em;
}
main .main-wrapper .hero-section .hero-text .stats-section .stat div span {
  color: #f2f2f2;
  padding: 0.3em;
}
main .main-wrapper .hero-section .hero-text .stats-section .stat div .fa-dot-circle {
  color: #7ed3f1;
}
main .main-wrapper .hero-section .hero-text .stats-section .stat div .uk-text-meta {
  margin-left: 25px;
}
main .main-wrapper .hero-section .hero-text .stats-section .stat div .uk-text-lead {
  font-size: 2em;
}
main .main-wrapper .hero-section .hero-text .search-section {
  background-color: #f2f2f2;
  padding: 0.75em 1em;
  border-radius: 4.5em;
}
main .main-wrapper .hero-section .hero-text .search-section .uk-width-2-4\@m {
  padding-right: 1em;
  border-right: 1px solid #2d97be;
}
main .main-wrapper .hero-section .hero-text .search-section .uk-button {
  font-size: 1em;
  border-radius: 26px;
}
main .main-wrapper .hero-section .hero-text .search-section .uk-button:hover, main .main-wrapper .hero-section .hero-text .search-section .uk-button:focus {
  border-radius: 28px;
}
main .main-wrapper .recommended-section .recommended-section-text .uk-text-left {
  font-size: 1.3em;
}
main .main-wrapper .recommended-section .recommended-section-text .company-testimonials p {
  font-size: 1em;
  text-transform: capitalize;
  margin: 0.5em 0;
}
main .main-wrapper .recommended-section .recommended-section-text .company-testimonials p > i {
  margin-right: 0.5em;
  font-size: 1.3em;
}
main .main-wrapper .recommended-section .recommended-section-text .view-popular-jobs .uk-button {
  font-size: 1em;
  border-radius: 26px;
}
main .main-wrapper .recommended-section .recommended-section-text .view-popular-jobs .uk-button:hover, main .main-wrapper .recommended-section .recommended-section-text .view-popular-jobs .uk-button:focus {
  border-radius: 28px;
}
main .main-wrapper .recommended-section .recommended-section-text .view-popular-jobs .uk-button:hover i, main .main-wrapper .recommended-section .recommended-section-text .view-popular-jobs .uk-button:focus i {
  margin-left: 0.35em;
  transition: all ease 0.2s;
}
main .main-wrapper .recommended-section .recommended-section-text .popular-jobs-stats {
  height: 250px;
}
main .main-wrapper .recommended-section .recommended-section-text .popular-jobs-stats > div {
  font-size: 1em;
}
main .main-wrapper .recommended-section .recommended-section-text .popular-jobs-stats > div .fa-dot-circle {
  color: #2d97be;
}
main .main-wrapper .recommended-section .recommended-section-text .popular-jobs-stats > div .uk-text-meta {
  font-size: 1em;
}
main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m {
  margin: 1em 0;
}
main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card {
  padding: 20px;
}
main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card .card-image i {
  width: 48%;
}
main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card .card-body {
  padding: 1.5em 0;
}
main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card .card-body p {
  margin: 0;
  text-transform: capitalize;
}
main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card .card-body .job-title {
  padding: 0.5em 0;
}
main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card .card-body .job-company {
  font-weight: 600;
}
main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card .card-action .uk-button {
  width: 100%;
  font-size: 1em;
}
main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card .card-action .uk-button i {
  margin-left: 0.75em;
}
main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card .card-action .uk-button:hover, main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card .card-action .uk-button:focus {
  height: 38px;
}
main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card:hover, main .main-wrapper .recommended-section .job-cards .uk-width-1-2\@m .uk-card:focus {
  cursor: pointer;
  transition: all ease 0.2s;
  transform: scale(1.075, 1.075);
}
main .main-wrapper .job-offers-section {
  height: 300px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/job-offers.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1em;
}
main .main-wrapper .job-offers-section .uk-text-center .uk-heading-medium {
  color: #f2f2f2;
}
main .main-wrapper .job-offers-section .uk-text-center .uk-button {
  font-size: 1em;
  border-radius: 26px;
}
main .main-wrapper .job-offers-section .uk-text-center .uk-button i {
  margin-left: 0.5em;
  display: none;
}
main .main-wrapper .job-offers-section .uk-text-center .uk-button:hover, main .main-wrapper .job-offers-section .uk-text-center .uk-button:focus {
  border-radius: 28px;
}
main .main-wrapper .job-offers-section .uk-text-center .uk-button:hover i, main .main-wrapper .job-offers-section .uk-text-center .uk-button:focus i {
  display: inline-block;
}
main .main-wrapper .news-section .news-section-title {
  margin-bottom: 4em;
}
main .main-wrapper .news-section .news-content > .uk-grid .uk-card .uk-card-body {
  padding: 20px;
}
main .main-wrapper .news-section .news-content > .uk-grid .uk-card .uk-card-body .uk-card-title {
  margin-bottom: 10px;
}
main .main-wrapper .news-section .news-content > .uk-grid .uk-card .uk-card-body p {
  margin-top: 10px;
  font-size: 1em;
}
main .main-wrapper .news-section .news-content > .uk-grid .uk-card .uk-card-footer {
  padding: 15px;
}
main .main-wrapper .news-section .news-content > .uk-grid .uk-card .uk-card-footer .fa-heart {
  color: deeppink;
}
main .main-wrapper .news-section .news-content > .uk-grid .uk-card .uk-card-footer .fa-bookmark {
  color: #7ed3f1;
}
main .main-wrapper .news-section .news-content > .uk-grid .uk-card .uk-card-footer i:hover, main .main-wrapper .news-section .news-content > .uk-grid .uk-card .uk-card-footer i:focus {
  cursor: pointer;
  opacity: 0.8;
  transition: all ease 0.2s;
}
main .main-wrapper .news-section .news-content > .uk-grid .uk-card:hover, main .main-wrapper .news-section .news-content > .uk-grid .uk-card:focus {
  transform: scale(1.07, 1.07);
  transition: all ease 0.2s;
}
main .main-wrapper .news-section .news-content .read-more-btn {
  margin-top: 4em;
}
main .main-wrapper .news-section .news-content .read-more-btn .uk-button {
  font-size: 1em;
  border-radius: 26px;
}
main .main-wrapper .news-section .news-content .read-more-btn .uk-button i {
  margin-left: 0.5em;
  display: none;
}
main .main-wrapper .news-section .news-content .read-more-btn .uk-button:hover, main .main-wrapper .news-section .news-content .read-more-btn .uk-button:focus {
  border-radius: 28px;
}
main .main-wrapper .news-section .news-content .read-more-btn .uk-button:hover i, main .main-wrapper .news-section .news-content .read-more-btn .uk-button:focus i {
  display: inline-block;
}
main .main-wrapper .testimonials-section .testimonials-title {
  margin-bottom: 4em;
}
main .main-wrapper .testimonials-section .testimonials-content .uk-slideshow-items {
  width: 90%;
  margin: 0 auto;
  min-height: 420px !important;
}
main .main-wrapper .testimonials-section .testimonials-content .uk-slideshow-items li img {
  height: 450px;
  width: 450px;
  object-fit: cover;
}
main .main-wrapper .testimonials-section .testimonials-content .uk-slideshow-items li .user-testimonial-text .uk-text-justify {
  font-size: 1.3em;
}
main .main-wrapper .testimonials-section .testimonials-content .uk-slideshow-items li .user-testimonial-text .uk-grid > div hr {
  width: 100%;
  height: 3px;
  background-color: rgba(102, 102, 102, 0.3);
  border-radius: 10px;
  margin-top: 0.75em;
}
main .main-wrapper .testimonials-section .testimonials-content .uk-slideshow-items li .user-testimonial-text .uk-text-left p {
  margin: 0;
  font-size: 1.3em;
}
main .main-wrapper .testimonials-section .testimonials-content .uk-position-bottom-right a {
  font-size: 2.5em;
  color: #0c7bbb;
}
main .main-wrapper .testimonials-section .testimonials-content .uk-position-bottom-right a:last-child {
  margin-left: 0.35em;
}
main .main-wrapper .testimonials-section .testimonials-content .uk-position-bottom-right a:hover, main .main-wrapper .testimonials-section .testimonials-content .uk-position-bottom-right a:focus {
  color: #4491a2;
}

footer {
  padding: 1em;
  background-color: #4491a2;
}
footer .uk-container p {
  color: #f2f2f2;
  font-size: 1.3em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body main .main-wrapper .hero-section {
    align-items: inherit;
    height: 100%;
  }
  body main .main-wrapper .hero-section .hero-text h1, body main .main-wrapper .hero-section .hero-text p {
    text-align: center;
  }
  body main .main-wrapper .hero-section .hero-text .stats-section, body main .main-wrapper .hero-section .hero-text .search-section {
    margin: 0 auto 1em auto;
  }
  body main .main-wrapper .hero-section .hero-text .stats-section {
    margin-left: 30px;
    padding-left: 0;
  }
  body main .main-wrapper .hero-section .hero-text .stats-section .stat {
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
  }
  body main .main-wrapper .hero-section .hero-text .stats-section .stat > div .uk-text-lead {
    font-size: 1.3em;
  }
  body main .main-wrapper .hero-section .hero-text .stats-section .stat > div .uk-text-meta {
    margin-left: 15px;
  }
  body main .main-wrapper .hero-section .hero-text .search-section {
    border-radius: 0.5em;
    padding: 1.5em;
  }
  body main .main-wrapper .hero-section .hero-text .search-section > div {
    margin-bottom: 1em;
    padding-left: 0;
  }
  body main .main-wrapper .hero-section .hero-text .search-section .uk-width-2-4\@m {
    border-right: none;
    padding-right: 0;
  }
  body main .main-wrapper .hero-section .hero-text .search-section .uk-width-1-4\@m .uk-button {
    width: 100%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=style.css.map */
