@import "../colors"
@import "../variables"

.button-blue
  background-color: $color-blue-medium
  color: $color-white

  &:hover,
  &:focus
    background-color: transparent
    border: 1.5px solid $color-blue-medium
    color: $color-blue-medium

.button-cyan-dark
  background-color: $color-cyan-dark
  color: $color-white

  &:hover,
  &:focus
    background-color: transparent
    border: 1.5px solid $color-cyan-dark
    color: $color-cyan-dark
    border-radius: $radius-l + 2px !important
